header img{
  width: 150px;
}


.azul-forte-fonte{
  color: #BBD5DA;
}

.azul-forte-bg{
  background-color: #BBD5DA;
}

.azul-forte2-fonte{
  color: #055d6e;
}

.azul-forte2-bg{
  background-color: #055d6e;
}

.azul-fraco-fonte{
  color: #DFF1F1;
}

.azul-fraco-bg{
  background-color: #DFF1F1;
}

.branco-fonte{
  color: #F5F5F5;
}

.branco-bg{
  background-color: #F5F5F5;
}

.vermelho-fonte{
  color: #FF0000;
}

.vermelho-bg{
  background-color: #FF0000;
}

.galeria-grande{
  width: 400px;
  height: 400px;
}

.galeria-pequena{
  width: 200px;
  height: 200px;
}






.vermelho2-forte-fonte{
  color: #442A25;
}

.vermelho2-forte-bg{
  background-color: #442A25;
}


.vermelho2-fraco-fonte{
  color: #FAA291;
}

.vermelho2-fraco-bg{
  background-color: #FAA291;
}


.bege-forte-fonte{
  color: #200E0E;
}

.bege-forte-bg{
  background-color: #200E0E;
}

.bege-fraco-fonte{
  color: #b95d5d;
}

.bege-fraco-bg{
  background-color: #b95d5d;
}


.preto-fonte{
  color: #0A0A0A;
}

.preto-bg{
  background-color: #0A0A0A;
}


.ciano-fonte{
  color: #00FFFF;
}

.ciano-bg{
  background-color: #00FFFF;
}

